.nav {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.nav a {
    color: #FFF;
    text-decoration: none;
}

.nav a:hover {
    color: #2d333d;
}

.nav a.active {
    color: #2d333d;
    font-weight: bold;
}

@media (max-width: 768px), (min-width: 769px) and (max-width: 1024px) {
    .nav {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 14px;
        margin: 25px 35px 25px 35px;
    }

    .nav a {
        text-decoration: none;
        color: #2d333d;
    }

    .nav a:hover {
        color: dodgerblue;
    }

    .nav a.active {
        text-decoration: underline;
        color: #0059b3;
        margin: 5px 10px 5px 10px;
    }
}