.noveltyCard {
    width: 350px;
    margin-bottom: 15px;
}

.noveltyCard button {
    margin-bottom: 15px;
}

.description {
    width: 220px;
    padding: 0 30px;
}

.description p {
    font-size: 14px;
}

@media (max-width: 768px), (min-width: 769px) and (max-width: 1024px) {
    .noveltyCard {
        width: 180px;
    }
    .noveltyCard button {
        margin-bottom: 5px;
    }
    .description {
        width: 152px;
        padding: 15px;
    }
    .description p {
        font-size: 9px;
    }
    .description h3 {
        font-size: 12px;
    }
}