.button {
    width: 120px;
    height: 40px;
    background-color: #D9B666;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #64646A;
}

.button:focus {
    background-color: #edf5f5;
    color: #64646A;
}

@media (max-width: 768px), (min-width: 769px) and (max-width: 1024px) {
    .button {
        width: 100px;
        height: 30px;
        font-size: 10px;
    }
}