.section {
    height: 120vh;
}

.container {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

@media (max-width: 768px), (min-width: 769px) and (max-width: 1024px) {
    .section {
        height: 100%;
    }
}

