.section {
    height: 40vh;
    background-color: #64646A;
}

.container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #2d333d;
    flex-wrap: wrap;
}

.footerLogo {
    width: 350px;
    height: 120px;
}

.contactBlock, .socialBlock {
    justify-content: flex-start;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    height: 90%;
}

.contact {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 250px;
    margin: 7px 0;
}

.contact img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.contact p {
    font-size: 14px;
    margin: 0;
    font-weight: normal;
}

.contact p:hover {
    text-decoration: underline;
}

@media (max-width: 768px), (min-width: 769px) and (max-width: 1024px) {
    .section {
        height: 100%
    }

    .container {
        display: grid;
        grid-template-rows: 80px 150px;
        grid-template-columns: auto;
        grid-template-areas:
        'flogo flogo'
        'contact social';
    }

    .footerLogo {
        grid-area: flogo;
        width: 130px;
        height: 60px;
        justify-content: flex-start;
    }

    .socialBlock {
        grid-area: social;
        padding: 0;
    }

    .contactBlock {
        grid-area: contact;
        padding: 0;
    }

    .socialBlock, .contactBlock p {
        font-size: 14px;
    }

    .contact {
        width: 150px;
        margin: 5px 0;
    }

    .contact img {
        width: 15px;
        height: 15px;
    }

    .contact p {
        font-size: 10px;
    }
}