.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.ID {
    width: 250px;
}

.ID span {
    background-color: #edf5f5;
    padding: 12px;
    font-size: 12px;
    border-radius: 5px;
}

.ID :nth-child(2) {
    background-color: limegreen;
    color: #FFFFFF;
}

.mainInfo {
    width: 500px;
    padding: 0;
}

.mainInfo h3 {
    font-size: 25px;
}

.mainInfo p {
    font-size: 30px;
    font-weight: bold;
}

.mainInfo button {
    width: 250px;
    height: 80px;
    font-size: 18px;
    transition: width 0.1s, height 0.1s, background-color 0.3s;
}

.mainInfo table {
    width: 500px;
    font-size: 18px;
}

.mainInfo table td,
.details table td {
    padding: 10px 0;
}

.details {
    padding: 30px 0;
}

.details h4 {
    margin: 0;
}

.details table {
    width: 800px;
}

@media (max-width: 768px), (min-width: 769px) and (max-width: 1024px) {
    .container > p {
        font-size: 7px;
    }
    .ID {
        width: 100px;
    }
    .ID span {
        font-size: 6px;
        padding: 6px;
    }
    .mainInfo {
        width: 350px;
    }
    .mainInfo h3 {
        font-size: 14px;
    }
    .mainInfo p {
        font-size: 20px;
    }
    .mainInfo button {
        width: 125px;
        height: 40px;
        font-size: 9px;
    }
    .details {
        padding: 15px 0;
    }
    .details h4, p {
        font-size: 12px;
    }
    .details table, .mainInfo table {
        width: 100%;
        font-size: 12px;
    }
    .mainInfo table td,
    .details table td {
        padding: 5px 0;
    }
}
