.introduction {
    width: 500px;
}

.introduction span {
    background-color: #edf5f5;
    width: 80px;
    font-size: 11px;
    font-weight: bold;
    color: #79818f;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.introduction h1 {
    font-size: 45px;
    margin: 15px 0 0 0;
}

.introduction p {
    font-size: 20px;
    margin-bottom: 30px;
}

.introduction button {
    width: 300px;
    height: 80px;
    font-size: 18px;
    transition: width 0.1s, height 0.1s, background-color 0.3s;
}

.introduction button:hover {
    width: 305px;
    height: 85px;
}

@media (max-width: 768px), (min-width: 769px) and (max-width: 1024px) {
    .introduction {
        width: 300px;
    }
    .introduction h1 {
        font-size: 25px;
    }
    .introduction p {
        font-size: 15px;
        margin: 10px 0;
    }
    .introduction button {
        width: 200px;
        height: 50px;
        font-size: 15px;
    }
    .introduction button:hover {
        width: 205px;
        height: 55px;
    }
}

