.introduction {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    box-sizing: border-box;
    padding: 10px;
}

.introduction span {
    background-color: #edf5f5;
    width: 80px;
    font-size: 11px;
    font-weight: bold;
    color: #79818f;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.introduction h1 {
    font-size: 45px;
    margin: 15px 0 0 0;
}

.introduction p {
    font-size: 20px;
    margin-bottom: 30px;
}

.introduction button {
    width: 300px;
    height: 80px;
    font-size: 18px;
    transition: width 0.1s, height 0.1s, background-color 0.3s;
}

.introduction button:hover {
    width: 305px;
    height: 85px;
}

@media (max-width: 768px), (min-width: 769px) and (max-width: 1024px) {
    .introduction {
        width: 100%;
        padding: 15px 0;
        align-items: center;
        text-align: center;
    }
    .introduction span {
        width: 40px;
        height: 16px;
        font-size: 8px;
        align-self: start;
        text-align: center;
    }
    .introduction h1 {
        font-size: 14px;
    }
    .introduction p {
        font-size: 8px;
        margin: 10px 0;
        width: 280px;
    }
    .introduction button {
        width: 125px;
        height: 37px;
        font-size: 8px;
    }
    .introduction button:hover {
        width: 127px;
        height: 39px;
    }
}

